body{
    background-image: linear-gradient(to right, blue, violet);
}
#form{
    border: 2px solid black;
    position: relative;
    height: 330px;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    border-radius: 10px;
}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#hello{
    width: 50%;
    height: 30px;
    border-radius: 5px;
}
#submit{
    width: 80px;
    height: 30px;
    border-radius: 7px;
}